params {
  
  outdir = "result"
  mode = "parallel"
  
  rdsObject = "FALSE"
  umi_matrix_preprocess = "rna/filtered_feature_bc_matrix"
  hto_matrix_preprocess = "hto/filtered_feature_bc_matrix"
  sel_method = "mean.var.plot"
  ndelim = "_"
  n_features = 2000
  assay = "HTO"
  margin = 2
  norm_method = "CLR"
  preprocessOut = "preprocessed"
  
  htodemux = "True"
  htodemux_preprocess = "True"
  rdsObj_htodemux = "None"
  quantile_htodemux = 0.99
  kfunc = "clara"
  nstarts = 100
  nsamples = 100
  seed = 42
  init = "NULL"
  objectOutHTO = "htodemux"
  assignmentOutHTO = "htodemux"
  
  ridgePlot = "TRUE"
  ridgeNCol = 3
  featureScatter = "False"
  scatterFeat1 = "False"
  scatterFeat2 = "False"
  vlnplot = "TRUE"
  vlnFeatures = "nCount_RNA"
  vlnLog = "TRUE"
  tsne = "TRUE"
  tsneIdents = "Negative"
  tsneInvert = "TRUE"
  tsneVerbose = "FALSE"
  tsneApprox = "FALSE"
  tsneDimMax = 1
  tsnePerplexity = 100
  heatmap = "TRUE"
  heatmapNcells= 4000
  
  multiseq = "True"
  multiseq_preprocess = "True"
  rdsObj_multi = "None"
  quantile_multi = 0.7
  autoThresh = "TRUE"
  maxiter = 5
  qrangeFrom = 0.1
  qrangeTo = 0.9
  qrangeBy = 0.05
  verbose_multiseq = "TRUE"
  objectOutMulti = "multiseq"
  assignmentOutMulti = "multiseq"
  
  solo = "False"
  rna_matrix_solo = "rna/filtered_feature_bc_matrix"
  max_epochs = 400
  lr = "0.001"
  train_size = 0.9
  validation_size = 0.1
  batch_size = 128
  early_stopping = "True"
  early_stopping_patience = 30
  early_stopping_min_delta = 0.0
  soft = "False"
  include_simulated_doublets = "False"
  assignmentOutSolo = "solo_predict"
  
  hashsolo = "False"
  hto_h5_hashsolo = "rna/filtered_feature_bc_matrix.h5"
  priors_negative = 1/3
  priors_singlet = 1/3
  priors_doublet = 1/3
  pre_existing_clusters = "None"
  clustering_data = "None"
  number_of_noise_barcodes = "None"
  assignmentOutHashSolo = "hashsolo"
  plotOutHashSolo = "hashsolo"
  
  hashedDrops = "False"
  hto_matrix_hashedDrops = "hto/raw_feature_bc_matrix"
  lower = 100
  niters = 10000
  testAmbient = "TRUE"
  ignore_hashedDrops = "NULL"
  alpha_hashedDrops = "NULL"
  round = "TRUE"
  byRank = "NULL"
  isCellFDR = 0.01
  objectOutEmptyDrops = "emptyDroplets"
  assignmentOutEmptyDrops = "emptyDroplets"
  ambient = "NULL"
  minProp = 0.05
  pseudoCount = 5
  constantAmbient = "FALSE"
  doubletNmads = 3
  doubletMin = 2
  doubletMixture = "FALSE"
  confidentNmads = 3
  confidenMin = 2
  combinations = "NULL"
  objectOutHashedDrops = "hashedDrops"
  assignmentOutHashedDrops = "hashedDrops"
  
  demuxem = "True"
  rna_matrix_demuxem = "rna/raw_feature_bc_matrix"
  hto_matrix_demuxem = "hto/raw_feature_bc_matrix"
  threads_demuxem = 1
  alpha_demuxem = 0.0
  alpha_noise = 1.0
  min_num_genes = 100
  min_num_umis = 100
  min_signal = 10.0
  tol = 1e-6
  random_state = 0
  generate_gender_plot = "None"
  objectOutDemuxem = "demuxem_res"
  
  
  select = 1
  
  demuxlet = "False"
  demuxlet_preprocess = "False"
  
  freemuxlet = "False"
  freemuxlet_preprocess = "False"
  
  vireo = "True"
  vireo_preprocess = "False"
  vireo_variant = "True"
  
  scSplit = "False"
  scSplit_preprocess = "False"
  scSplit_variant = "False"
  
  souporcell = "False"
  souporcell_preprocess = "False"
  
  cellranger = "False"
  cellranger_dir = "no_cellranger_dir"
  
  bam = "pooled.sorted.bam"
  bai = "pooled.sorted.bam.bai"
  barcodes = "rna/filtered_feature_bc_matrix/barcodes.tsv"
  fasta = "genome.fa"
  fasta_index = "genome.fa.fai"
  nsample = 6
  common_variants_scSplit = "common_SNP_hg19.vcf"
  common_variants_souporcell =  "common_variants_hg19.vcf"
  vcf_mixed = "False"
  vcf_ref = "/Users/xichenwu/openpipeline/resources_test/demuxafy_test_data/test_dataset.vcf"
  vcf_donor = "False"

  celldata = "False"

  tag_group = 'CB'
  tag_UMI = 'UB'
  sm = 'False'
  sm_list = 'False'
  sam_verbose = 1000000
  vcf_verbose = 10000
  skip_umi = "False"
  cap_BQ = 40
  min_BQ = 13
  min_MQ = 20
  min_TD = 0
  excl_flag = 3844
  min_total = 0
  min_uniq = 0
  min_snp = "0"
  min_umi = 0
  plp = "False"
  field = "GT"
  geno_error_offset = "0.1"
  geno_error_coeff = 0.0
  r2_info = 'R2'
  min_mac = 1
  min_callrate = 0.50
  alpha = "0.5"
  doublet_prior = "0.5"
  demuxlet_out = "demuxlet_res"
  
  plp_freemuxlet = "True"
  init_cluster = "False"
  aux_files = "False"
  verbose = 100
  bf_thres = 5.41
  frac_init_clust = "0.5"
  iter_init = "10"
  keep_init_missing = "False"
  freemuxlet_out = "freemuxlet_out"

  vartrixData = 'False'
  genoTag = 'GT'
  noDoublet = 'False'
  nInit = '50'
  extraDonor = 0
  extraDonorMode = 'distance'
  forceLearnGT = 'False'
  ASEmode = 'False'
  noPlot = 'False'
  randSeed = 'none'
  cellRange = 'all'
  callAmbientRNAs = 'False'
  nproc = 4
  vireo_out = "vireo_out"
 
  threads = 5
  ploidy = 2
  min_alt = 10
  min_ref = 10
  max_loci = 2048
  restarts = 'False'
  known_genotypes_sample_names = 'False'
  skip_remap = 'True'
  ignore = 'False'
  souporcell_out = "souporcell_out"
  
  refscSplit = 'ref_filtered.csv'
  altscSplit = 'alt_filtered.csv'
  subscSplit = "10"
  emsscSplit = "30"
  dblscSplit = 'False'
  scSplit_loc = "$projectDir/scSplit"
  sample_geno = 'False'
  scsplit_out = "scsplit_out"

  bam_list = 'no_bam_list'
  stdin = 'False'
  targets = 'no_targets'
  region = 'False'
  samples= 'no_samples'
  populations = 'no_populations'
  cnv_map = 'no_cnv_map'
  vcf_freebayes = "vcf_freebayes_output.vcf"
  gvcf = 'False'
  gvcf_chunk = 'False'
  gvcf_dont_use_chunk = 'False'
  variant_input = 'no_variant_input'
  only_use_input_alleles = 'False'
  haplotype_basis_alleles = 'no_haplotype_basis_alleles'
  report_all_haplotype_alleles = 'False'
  report_monomorphic  = 'False'
  pvar = 0.0
  strict_vcf  = 'False'
  
  theta = 0.001
  pooled_discrete = 'False'
  pooled_continuous = 'False'
  use_reference_allele = 'False'
  reference_quality = '100,60'
  no_snps = 'False'
  no_indels = 'True'
  no_mnps = 'True'
  no_complex = 'True'
  use_best_n_alleles = 0
  haplotype_length = 3
  min_repeat_size = 5
  min_repeat_entropy = 1
  no_partial_observations = 'False'
  
  dont_left_align_indels = 'False'
  use_duplicate_reads = 'False'
  min_mapping_quality = 1
  min_base_quality = 1
  min_supporting_allele_qsum = 0
  min_supporting_mapping_qsum = 0
  mismatch_base_quality_threshold = 10
  read_mismatch_limit = 'False'
  read_max_mismatch_fraction = 1.0
  read_snp_limit = 'False'
  read_indel_limit = 'False'
  standard_filters = 'False'
  min_alternate_fraction = 0.05
  min_alternate_count = 2
  min_alternate_qsum = 0
  min_alternate_total = 1
  min_coverage = 0
  max_coverage = 'False'
  no_population_priors = 'False'
  hwe_priors_off = 'False'
  binomial_obs_priors_off = 'False'
  allele_balance_priors_off = 'False'
  observation_bias = 'no_observation_bias'
  base_quality_cap = 'False'
  prob_contamination = 0.000000001
  legacy_gls= 'False'
  contamination_estimates = 'no_contamination_estimates'
  report_genotype_likelihood_max = 'False'
  genotyping_max_iterations = 1000
  genotyping_max_banddepth = 6
  posterior_integration_limits = '1,3'
  exclude_unobserved_genotypes = 'False'
  genotype_variant_threshold = 'False'
  use_mapping_quality = 'False'
  harmonic_indel_quality = 'False'
  read_dependence_factor = 0.9
  genotype_qualities= 'False'
  debug = 'False'
  dd = 'False'
 
  samFileList = 'no_samFileList'
  regionsVCF  = "test_dataset.vcf"
  targetsVCF = 'no_targetsVCF'
  sampleList  = 'no_sampleList'
  sampleIDs = 'no_sampleIDs'
  genotype_cellSNP = 'True'
  gzip_cellSNP = 'True'
  printSkipSNPs = 'False'
  nproc_cellSNP = 2
  refseq_cellSNP = 'no_refseq'
  chrom = 'False'
  cellTAG = 'CB'
  UMItag = 'Auto'
  minCOUNT = 20
  minMAF = 0.1
  doubletGL = 'False'
  inclFLAG = 'False'
  exclFLAG = 'False'
  minLEN = 30
  minMAPQ = 20
  maxDEPTH = 0
  countORPHAN = 'False'
  cellsnp_out = 'cellSNP_out'
  
  
  match_donor = 'True'
  demultiplexing_result = "False"
  match_donor_method1 = 'vireo'
  match_donor_method2 = 'multiseq'
  findVariants = 'True'
  variant_count = 10
  variant_pct = 0.9
  vireo_parent_dir = 'False'

}

conda.enabled = true

process {
    echo = true
    withName:demuxem{
        conda = './conda/demuxem_py.yml'
    }
    withName:hashedDrops{
        conda = './conda/dropletutils.yml'
    }
    withName:hash_solo {
        conda = './conda/hashsolo_py.yml'
    }
    withLabel:seurat{
        conda = './conda/rseurat.yml'
    }
    withName:htodemux {
        conda = './conda/rseurat.yml'
    }
    withName:multi_seq {
        conda = './conda/rseurat.yml'
    }
    withName:preprocess {
        conda = './conda/rseurat.yml'
    }
    withName:solo {
        conda = './conda/solo_py.yml'
    }
    withName:summary {
        conda = './conda/summary.yml'
    }
    withName:matchDonor {
        conda = './conda/donor_match.yml'
    }
    withName:demuxlet{
        conda = 'bioconda::popscle'
    }
    withName:freemuxlet{
        conda = 'bioconda::popscle'
    }
    withName:vireo {
        conda = "aksarkar::vireosnp"
    }
    withName:freebayes {
        conda = 'bioconda::freebayes=1.2'
    }
    withName:scSplit {
        conda = './conda/scsplit.yml'
    }
    withName:cellSNP {
        conda = 'bioconda::cellsnp-lite'
    }
    withName:samstool{
        conda = 'bioconda::samtools'
    }
    withName:bcftools {
        conda = 'bioconda::bcftools'
    }
    withName:summary_all {
        conda = "./conda/summary.yml"
    }


}

