params {
  outdir = "result_test"
  // input for hashing-based deconvolution
  hto_matrix_raw = "$projectDir/test_data/hto"
  hto_matrix_filtered = "$projectDir/test_data/hto"
  rna_matrix_raw = "$projectDir/test_data/rna"
  rna_matrix_filtered = "$projectDir/test_data/rna"

  // input for genotype-based deconvolution
  bam = "$projectDir/test_data/jurkat_293t_downsampled_n500_full_bam.bam"
  bai = "$projectDir/test_data/jurkat_293t_downsampled_n500_full_bam.bam.bai"
  barcodes = "$projectDir/test_data/barcodes.tsv"
  fasta = "$projectDir/test_data/refdata-cellranger-hg19-3.0.0/fasta/genome.fa"
  fasta_index = "$projectDir/test_data/refdata-cellranger-hg19-3.0.0/fasta/genome.fa.fai"
  nsample = 2
  common_variants_scSplit = "$projectDir/test_data/common_variants_hg19_list.vcf"
  common_variants_souporcell =  "$projectDir/test_data/common_variants_hg19.vcf"
  common_variants_freemuxlet = "$projectDir/test_data/jurkat_293t_exons_only.vcf.withAF.vcf.gz"
  common_variants_cellsnp  = "$projectDir/test_data/genome1K.phase3.SNP_AF5e2.chr1toX.hg19.vcf.gz"
  vcf_donor = "$projectDir/test_data/jurkat_293t_exons_only.vcf.withAF.vcf"
  // Call freebayes on chr 1 and chr 2 only to speed up run time
  region = "1;2"
  // donor genotype file provided by popscle doesnt work on souporcell
  use_known_genotype = "False"
  ignore = "True"

}
