/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: SAMTOOLS_VIEW {
        ext.args   = '-S -b -q 10 -F 3844'
        publishDir = [
            enabled: false
        ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            enabled: false
        ]
    }

    withName: UMITOOLS_DEDUP {
        ext.prefix = { "${meta.id}_dedup" }
        ext.args   = '--extract-umi-method=tag --umi-tag=UR --cell-tag=CB'
        publishDir = [
            enabled: false
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            path: { "${params.outdir}/genetic/bam_qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
        ]
    }

    withName: FILTER_BAM {
        publishDir = [
            path: { "${params.outdir}/genetic/bam_common_variants/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
        ]
    }

    withName: CELLSNP_MODEA {
        ext.args   = {
            [
                "--genotype",
                "--cellTAG",
                params.cellsnp_celltag,
                "--UMItag",
                params.cellsnp_umitag,
                "--minCOUNT",
                params.cellsnp_mincount,
                "--minMAF",
                params.cellsnp_minmaf,
                params.cellsnp_inclflag ? "--inclFLAG ${params.cellsnp_inclflag}" : "",
                params.cellsnp_exclflag ? "--exclFLAG ${params.cellsnp_exclflag}" : "",
                "--minLEN",
                params.cellsnp_minlen,
                "--minMAPQ",
                params.cellsnp_minmapq,
                "--maxDEPTH",
                params.cellsnp_maxdepth,
                params.cellsnp_countorphan ? "--countORPHAN" : "",
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/genetic/vireo/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: VIREO {
        ext.args   = {
            [
                "--genoTag",
                params.vireo_genotag,
                params.vireo_no_doublet ? "--noDoublet" : "",
                "--nInit",
                params.vireo_n_init,
                "--extraDonor",
                params.vireo_extra_donor,
                "--extraDonorMode",
                params.vireo_extra_donor_mode,
                params.vireo_force_learn_gt ? "--forceLearnGT" : "",
                params.vireo_ase_mode ? "--ASEmode" : "",
                params.vireo_no_plot ? "--noPlot" : "",
                "--randSeed",
                params.vireo_rand_seed,
                params.vireo_cell_range != "all" ? "--cellRange ${params.vireo_cell_range}" : "",
                params.vireo_cell_ambient_rnas ? "--callAmbientRNAs" : "",
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/genetic/vireo/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: POPSCLE_DSCPILEUP {
        ext.args   = {
            [
                "--tag-group",
                params.dsc_pileup_tag_group,
                "--tag-UMI",
                params.dsc_pileup_tag_umi,
                "--cap-BQ",
                params.dsc_pileup_cap_bq,
                "--min-BQ",
                params.dsc_pileup_min_bq,
                "--min-MQ",
                params.dsc_pileup_min_mq,
                "--min-TD",
                params.dsc_pileup_min_td,
                "--excl-flag",
                params.dsc_pileup_excl_flag,
                "--min-total",
                params.dsc_pileup_min_total,
                "--min-uniq",
                params.dsc_pileup_min_uniq,
                "--min-snp",
                params.dsc_pileup_min_snp,
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/genetic/popscle/dscpileup/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
        ]
    }

    withName: POPSCLE_DEMUXLET {
        ext.args   = {
            [
                "--field",
                params.demuxlet_field,
                "--geno-error-offset",
                params.demuxlet_geno_error_offset,
                "--geno-error-coeff",
                params.demuxlet_geno_error_coeff,
                "--r2-info",
                params.demuxlet_r2_info,
                "--min-mac",
                params.demuxlet_min_mac,
                "--min-callrate",
                params.demuxlet_min_callrate,
                "--alpha",
                params.demuxlet_alpha,
                "--doublet-prior",
                params.demuxlet_doublet_prior,
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/genetic/popscle/demuxlet/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: POPSCLE_FREEMUXLET {
        ext.args   = {
            [
                "--doublet-prior",
                params.freemuxlet_doublet_prior,
                "--geno-error",
                params.freemuxlet_geno_error,
                "--bf-thres",
                params.freemuxlet_bf_thres,
                "--frac-init-clust",
                params.freemuxlet_frac_init_clust,
                "--iter-init",
                params.freemuxlet_iter_init,
                params.freemuxlet_keep_init_missing ? "--keep-init-missing" : "",
                params.freemuxlet_randomize_singlet_score ? "--randomize-singlet-score" : "",
                "--seed",
                params.freemuxlet_seed,
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/genetic/popscle/freemuxlet/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MTXCONVERT_RNA {
        publishDir = [
            path: { "${params.outdir}/hashing/mtxconvert/rna/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
        ]
    }

    withName: MTXCONVERT_HTO {
        publishDir = [
            path: { "${params.outdir}/hashing/mtxconvert/hto/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_intermediates,
        ]
    }

    withName: DEMUXEM {
        ext.args   = {
            [
                "--alpha-on-samples",
                params.demuxem_alpha_on_samples,
                "--min-num-genes",
                params.demuxem_min_num_genes,
                "--min-num-umis",
                params.demuxem_min_num_umis,
                "--min-signal-hashtag",
                params.demuxem_min_signal_hashtag,
                "--random-state",
                params.demuxem_random_state,
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/hashing/demuxem/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GMMDEMUX {
        ext.args   = {
            [
                "--threshold",
                params.gmmdemux_threshold,
                "--random_seed",
                params.gmmdemux_random_state,
                params.gmmdemux_extract ? "--extract ${params.gmmdemux_extract}" : "",
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/hashing/gmm-demux/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: RENAME_GENES_TO_FEATURES_RNA {
        ext.prefix = { "${meta.id}_rna" }
    }

    withName: RENAME_GENES_TO_FEATURES_HTO {
        ext.prefix = { "${meta.id}_hto" }
    }

    withName: HTODEMUX {
        ext.args   = {
            [
                "--quantile",
                params.htodemux_quantile,
                params.htodemux_init ? "--init ${params.htodemux_init}" : "",
                "--nstarts",
                params.htodemux_nstarts,
                "--kfunc",
                params.htodemux_kfunc,
                "--nsamples",
                params.htodemux_nsamples,
                "--seed",
                params.htodemux_seed,
                "--verbose",
                params.htodemux_verbose.toString().toUpperCase()
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/hashing/htodemux/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

 // TODO update to ext.args
    withName: HTODEMUX_VISUALIZATION {
        ext.ridgePlot      = params.htodemux_visualization_ridgePlot
        ext.ridgeNCol      = params.htodemux_visualization_ridgeNCol
        ext.featureScatter = params.htodemux_visualization_featureScatter
        ext.scatterFeat1   = params.htodemux_visualization_scatterFeat1
        ext.scatterFeat2   = params.htodemux_visualization_scatterFeat2
        ext.vlnPlot        = params.htodemux_visualization_vlnPlot
        ext.vlnFeatures    = params.htodemux_visualization_vlnFeatures
        ext.vlnLog         = params.htodemux_visualization_vlnLog
        ext.tSNE           = params.htodemux_visualization_tSNE
        ext.tSNEIdents     = params.htodemux_visualization_tSNEIdents
        ext.tSNEInvert     = params.htodemux_visualization_tSNEInvert
        ext.tSNEVerbose    = params.htodemux_visualization_tSNEVerbose
        ext.tSNEApprox     = params.htodemux_visualization_tSNEApprox
        ext.tSNEDimMax     = params.htodemux_visualization_tSNEDimMax
        ext.tSNEPerplexity = params.htodemux_visualization_tSNEPerplexity
        ext.heatMap        = params.htodemux_visualization_heatMap
        ext.heatMapNcells  = params.htodemux_visualization_heatMapNcells
        publishDir = [
            path: { "${params.outdir}/hashing/htodemux_visualization/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MULTISEQDEMUX {
        ext.args   = {
            [
                "--quantile",
                params.multiseqdemux_quantile,
                "--autoThresh",
                params.multiseqdemux_autoThresh.toString().toUpperCase(),
                "--maxiter",
                params.multiseqdemux_maxiter,
                "--qrangeFrom",
                params.multiseqdemux_qrangeFrom,
                "--qrangeTo",
                params.multiseqdemux_qrangeTo,
                "--qrangeBy",
                params.multiseqdemux_qrangeBy,
                "--verbose",
                params.multiseqdemux_verbose.toString().toUpperCase()
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/hashing/multiseqdemux/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: HASHEDDROPS {
        ext.args   = {
            [
                "--lower",
                params.hasheddrops_lower,
                "--niters",
                params.hasheddrops_niters,
                "--testAmbient",
                params.hasheddrops_testAmbient.toString().toUpperCase(),
                "--round",
                params.hasheddrops_round.toString().toUpperCase(),
                params.hasheddrops_byRank ? "--byRank ${params.hasheddrops_byRank}" : "",
                "--isCellFDR",
                params.hasheddrops_isCellFDR,
                "--gene_col",
                params.hasheddrops_gene_col,
                params.hasheddrops_ignore ? "--ignore ${params.hasheddrops_ignore}" : "",
                params.hasheddrops_alpha ? "--alpha ${params.hasheddrops_alpha}" : "",
                "--ambient",
                params.hasheddrops_ambient.toString().toUpperCase(),
                "--minProp",
                params.hasheddrops_minProp,
                "--pseudoCount",
                params.hasheddrops_pseudoCount,
                "--constantAmbient",
                params.hasheddrops_constantAmbient.toString().toUpperCase(),
                "--doubletNmads",
                params.hasheddrops_doubletNmads,
                "--doubletMin",
                params.hasheddrops_doubletMin,
                "--doubletMixture",
                params.hasheddrops_doubletMixture.toString().toUpperCase(),
                "--confidentNmads",
                params.hasheddrops_confidentNmads,
                "--confidentMin",
                params.hasheddrops_confidentMin,
                params.hasheddrops_combinations ? "--combinations ${params.hasheddrops_combinations}" : "",
            ].join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/hashing/hasheddrops/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: HASH_SUMMARY {
        publishDir = [
            path: { "${params.outdir}/hashing/summary/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PREPROCESSING_FOR_HTODEMUX_MULTISEQ {
        ext.sel_method       = params.preprocessing_sel_method
        ext.ndelim           = params.preprocessing_ndelim
        ext.n_features       = params.preprocessing_n_features
        ext.assay            = params.preprocessing_assay
        ext.margin           = params.preprocessing_margin
        ext.norm_method      = params.preprocessing_norm_method
        ext.gene_col         = params.preprocessing_gene_col
        publishDir = [
            path: { "${params.outdir}/hashing/preprocessing/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
