/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/hadge -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 60,
        memory: '360.GB',
        time: '23.h'
    ]

    withName: SOUPORCELL {
        cpus = 60
        memory = 64.GB
    }

    withName: VIREO {
        cpus = 4
        memory = 360.GB
        time = 8.h
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    mode               = 'rescue'
    hash_tools         = 'htodemux,hasheddrops,multiseq,demuxem,gmm-demux,bff,hashsolo'
    genetic_tools      = 'demuxlet,freemuxlet,vireo,souporcell'
    input              = 'https://github.com/nf-core/test-datasets/raw/refs/heads/hadge/samplesheet/samplesheet_test_full.csv'
    genome             = 'GRCh38'
    bam_qc             = false
    find_variants      = false
}
