/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple donor matching test.

    Use as follows:
        nextflow run nf-core/hadge -profile test_donor_match,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test donor_match mode'
    config_profile_description = 'Minimal test dataset to check pipeline function of donor_match mode'

    // Input data
    input      = '/Users/luisheinzlmeier/Desktop/hadge/test.csv'
    //hash_tools = 'htodemux,hasheddrops,multiseq,demuxem,gmm-demux,cellhashr,hashsolo'

    mode                    = 'donor_match'
    demultiplexing_result   = '/Users/luisheinzlmeier/Desktop/hadge/testing_new/summary/test3/test3_assignment.csv'
    vireo_filtered_variants = '/Users/luisheinzlmeier/Desktop/hadge/testing_new/genetic/vireo/test1/test1_filtered_variants.tsv'
    //genome     = 'GRCh38'
    cell_genotype           = '/Users/luisheinzlmeier/Desktop/hadge/work/1f/f76c216f2283723673cfad017077be/test2.cells.vcf.gz'
    gt_donors               = '/Users/luisheinzlmeier/Desktop/hadge/testing_new/genetic/vireo/test1/test1_GT_donors.vireo.vcf.gz'
    //fasta      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta'
    //bam_qc     = true
}
