/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple hashing demultiplexing test.

    Use as follows:
        nextflow run nf-core/hadge -profile test_hashing,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test hashing mode'
    config_profile_description = 'Minimal test dataset to check pipeline function of all hash deconvolution methods in hashing mode'

    // Input data
    mode       = 'hashing'
    hash_tools = 'htodemux,hasheddrops,multiseq,gmm-demux,bff,hashsolo'
    input      = 'https://github.com/nf-core/test-datasets/raw/refs/heads/hadge/samplesheet/samplesheet_hashing.csv'
    genome     = 'GRCh38'
    fasta      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta'
    bam_qc     = true

    // TODO demuxem: include demuxem to hash_tools if #81 is fixed
}
