/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/hadge -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = 'https://github.com/nf-core/test-datasets/raw/refs/heads/hadge/samplesheet.csv'
    hash_tools         = 'hasheddrops,bff,gmm-demux'
    genetic_tools      = 'freemuxlet,vireo,souporcell'
    mode               = 'rescue'
    genome             = 'GRCh38'
    fasta              = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta'
    bam_qc             = true

    // all modules
    // hash_tools         = 'htodemux,hasheddrops,multiseq,demuxem,gmm-demux,bff,hashsolo'
    // genetic_tools      = 'demuxlet,freemuxlet,vireo,souporcell'
}
