/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/hadge -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 64,
        memory: '220.GB',
        time: '24.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // input = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_full_illumina_amplicon.csv'

    // Genome references
    genome = 'R64-1-1'

    // Input data
    mode               = 'rescue'
    hash_tools         = 'htodemux,hasheddrops,multiseq,demuxem,gmm-demux,bff,hashsolo'
    genetic_tools      = 'freemuxlet,vireo,demuxlet'
    input              = '/lustre/groups/ml01/code/luis.heinzlmeier/hadge/conf/test_full.csv'
    genome             = 'GRCh38'
    bam_qc             = false
    outdir             = "outdir_test_full"

    // all possible modules
    // hash_tools         = 'htodemux,hasheddrops,multiseq,demuxem,gmm-demux,bff,hashsolo'
    // genetic_tools      = 'demuxlet,freemuxlet,vireo,souporcell'
}
